<div class="container">
    <h1>Editar Usuário:</h1>

</div>

<%= render 'form', user: @user %>
<br><br>

<div class="container">
    | <%= link_to 'Mostrar Dados', @user %> |
    <%= link_to 'Voltar', users_path %> |
</div>
