
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Seu banco digital</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
     Facilidades nos seus Serviços digitais: abertura de contas, transferências, depósitos, 
     investimentos e muito mais ....
      </p>
    <br>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <%= image_tag 'bootstrap-themes.png' =%>
      </div>
    </div>
  </div>
